<div class="header">
<div class="top_header">
<div class="header_left"><%= link_to image_tag("/images/logo.png"), '/.' %></div>
<div class="header_right">
<div class="header_login">
<ul>
    <li><%= link_to "Login", 'login' %></li>
    <li><%= link_to "Signup", 'signup' %></li>
    <li><%= link_to "Shopping Cart", '/cart' %></li>
</ul>
</div>
<div class="header_contact">
<img src="/images/contact.png">
</div>
</div>
</div>
<div class="menu_bar">
<ul>
    <li><a href="#">BRIDAL SILK</a></li>
    <li><a href="#">WEDDING SAREES</a>
    <li><a href="#">PARTY SAREES</a></li>
    <li><a href="#">9 YARK SILK</a></li>
	<li><a href="#">COTTON SILK</a></li>
	<li><a href="#">SILK DHOTI</a></li>
	<li><a href="#">SILKS WITH STONE</a></li>
  <li id="search-bar" data-hook>
     <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
	<%= form_tag spree.products_path, :method => :get do %>
   	<%= search_field_tag :keywords, params[:keywords], :placeholder => "SEARCH" %>
   	 <%#= submit_tag  :name => nil, :class => 'submit_button' %>
<% end %>
    </li>
  </ul>
 </div>
</div>